:root{
    --primario: #9C27B0;
    --primarioOscuro: #89119D;
    --secundario: #FFCE00;
    --secundarioOscuro: rgb(233,287,2);
    --withe: #fff;
    --black: #000;
    --fontPrincipal: 'Montserrat', sans-serif;
}

/* Globales */
/* Nunca debe de faltar */
html{
    /* Sirve para corregir problemas con cajas */
    box-sizing: border-box;
    /* Nos srive para poder utilizar 1rem = 10px */
    font-size: 62.5%;
}
/* Nos ayudan a solucionar problemas con las cajas */
*,*:before, *:after{
    box-sizing: inherit;
}

/* Globales */
body{
    /* Fondo al documento */
    background-color: var(--primario);
    /* Tamaño de fuente */
    font-size: 1.6rem;
    /* Interlineado */
    line-height: 1.5;
}
/* Parrafos general */
p{
    /* Tamaño de fuente */
    font-size: 1.8rem;
    /* Font-family */
    font-family: Arial, Helvetica, sans-serif;
    /* Color de letra */
    color: var(--withe);
}
/* Quitarle estilos a las anclas */
a{
    text-decoration: none;
}
img{
    /* Ancho maximo */
    max-width: 100%;
}
.contenedor{
    /* ¿? */
    max-width: 120rem;
    /* Centrar contenedor */
    margin: 0 auto;
}
h1, h2, h3{
    text-align: center;
    color: var(--secundario);
    font-family: var(--fontPrincipal);
}
h1{
    font-size: 4rem;
}
h2{
    font-size: 3.2rem;
}
h3{
    font-size: 2.4rem;
}

/* Header */
.header{
    display: flex;
    justify-content: center;
}
.header__logo{
    margin: 3rem 0;
}

/* Navegacion */
.navegacion{
    background-color: var(--primarioOscuro);
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    /* Separar los elementos */
    gap: 2rem;

}
.navegacion__enlace{
    font-family: var(--fontPrincipal);
    color: var(--withe);
    font-size: 3rem;
}
.navegacion__enlace--activo,
.navegacion__enlace:hover{
  color: var(--secundario);
}